* {
  margin: 0;
  padding: 0;
 }


h1 {
  color: bisque;
  text-align: center;
  font-family: "verdana";
  font-size: 50px; }

nav {
  background-color: #343131; }

a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 20px;
  font-family: "verdana"; }

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  height: 120px; }

#padre {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #5f5252; }

#hijo_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75%;
  grid-area: a1; }

#hijo_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 75%; }

#hijo_3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: a3; }

#imagenes-historia {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: a2;
  object-fit: contain; }

.section-formularios {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #514f4f;
  font-family: "verdana"; 
  border: 2px
}

.row {
  justify-content: space-evenly;
  align-items: center; }

#grilla {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 90%;
  grid-template-areas: "a1 a1 a1" "a2 a2 a2" "a3 a3 a3";
  justify-content: center; }
  
  #grilla-galeria{
    display:grid;
    height: 1800px;
    grid-template-rows: 5% 20% 5% 20% 5% 20% 5% 20%;
    grid-template-columns: 30% 30% 30% ;
    background-color: rgb(255, 255, 255);

    grid-template-areas:"a1 a1 a1"
                        "a2 a3 a4"
                        "a5 a5 a5"
                        "a6 a7 a8"
                        "a9 a9 a9"
                        "a10 a11 a12"
                        "a13 a13 a13"
                        "a14 a15 a16";

    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: space-around;
}



img{
    max-width: 100%;
    height: auto;
  }

.fotos-productos{

    object-fit: contain;
    width: 80%;
    height: 80%;

}
.titulos-galeria1{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(192, 189, 188);
    grid-area: a1;
    width: 95%;
}
.titulos-galeria2{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(192, 189, 188);
    grid-area: a5;
    width: 95%;
}
.titulos-galeria3{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(192, 189, 188);
    grid-area: a9;
    width: 95%;
}
.titulos-galeria4{
    display:flex;
    justify-content: space-evenly;
    background-color:rgb(192, 189, 188);
    grid-area: a13;
    width: 95%;
}
h3{
    color:rgb(70, 70, 68)
}
.footer-contenido{
  display: flex;
}
.footer-caja-izq{
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center; 
  background-color: rgb(57, 56, 56);
}
.social-iconos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  background-color: rgb(110, 110, 109);
}
.texto-footer-izq{
  color: rgb(211, 211, 211);
  font-size: small;

}

@media screen and (max-width: 600px) 
{
  ul {
    flex-direction: column;
    height: 150px; }
    
    #grilla-galeria{
      display:grid;
      height: 1800px;
      grid-template-rows: 5% 20% 5% 20% 5% 20% 5% 20%;
      grid-template-columns: 90% 0% 0%;
      background-color: rgb(255, 255, 255);
  
      grid-template-areas:"a1 a1 a1"
                          "a2 a3 a4"
                          "a5 a5 a5"
                          "a6 a7 a8"
                          "a9 a9 a9"
                          "a10 a11 a12"
                          "a13 a13 a13"
                          "a14 a15 a16";
  
      justify-items: center;
      align-items: center;
  
      justify-content: center;
      align-content: space-around;
  }
 .footer-contenido{
    display: flex;
    flex-direction: column;
}
 .social-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    height: 90px;
    align-items: center;
    background-color: rgb(110, 110, 109);
}
 .footer-caja-izq {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(57, 56, 56);
} 
} 